[Unit]
After=network.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/alertkick-agent --logfile /var/log/alertkick-agent/apagent.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
